.navbar-appbar {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #4f0e17, #a41d30);
    position: fixed!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-evenly;
}
